@*@{
        ViewBag.Title = "Home Page";
    }

    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@

<div class="row border-bottom border-dark border-5" id="header-search-filter">
    <div class="col-2"></div>
    <div class="col-8">
        <div id="search-vehicles-div" class="m-3 d-flex flex-column justify-content-center align-items-center">

            <div class="logo-header-img d-block">
                <img style="width: 16em;" src="~/Content/Images/new-logo.png" />
            </div>

            <p class="text-sm-center h3 text-uppercase my-blue-text-color" >Find your perfect car</p>

            <div class="search-input-div d-block m-5 w-75">
                <div class="input-group mb-3">
                    <input id="search-vehicles" name="search-vehicles" type="text" class="form-control border-1 border border-end-0 border-dark border-opacity-75" placeholder="Search by Brand, Model or Year" aria-describedby="search-vehicles-btn">
                    <a href="#" id="search-vehicles-btn" class="btn btn-outline-dark fa fa-lg fa-search fa-align-center" style="height: 2em; line-height: 1.4"></a>
                </div>
                @*<input id="search-vehicles" name="search-vehicles" type="text" class="form-control border border-end-0" placeholder="Search by Brand, Model or Year" aria-describedby="search-vehicles-btn">*@
                @*<div class="input-group-append">*@
                @*<button class="btn btn-outline-primary" type="button">
                        <i class="fa fa-search"></i>
                    </button>*@
                @*@Html.ActionLink(" ", "Inventory", "Home", new { }, new { @style = "height: 2em; line-height: 1.4", @class = "btn btn-outline-primary fa fa-lg fa-search fa-align-center" })*@
                @*<a href="#" id="search-vehicles-btn" class="btn btn-outline-primary fa fa-lg fa-search fa-align-center" style="height: 2em; line-height: 1.4"></a>*@
                @*</div>*@


            </div>

            <div class="text-uppercase text-light fw-bold fs-3 mb-5" style="-webkit-text-stroke: thin black;">
                @*<span class="fa fa-terminal"></span>*@
                <i class="far fa-horizontal-rule"></i>
                <span>or</span>
                @*<span class="fa fa-terminal" style="transform: rotateY(180deg)"></span>*@
                <i class="far fa-horizontal-rule"></i>
            </div>


            <div class="btn-group btn-group-lg" role="group" aria-label="Basic outlined example" style="background-color: rgba(143, 143, 143, 0.81);">
                <a href="#browse-by-brand-div" type="button" class="btn btn-outline-secondary text-light border border-1">Make / Model</a>
                <a href="#browse-body-style-div" type="button" class="btn btn-outline-secondary text-light border border-1">Body Style</a>
                <a href="#trending-searches-prices-div" type="button" class="btn btn-outline-secondary text-light border border-1">Price</a>
            </div>


        </div>
    </div>
    <div class="col-2"></div>
</div>

<div id="welcome-div" class="mb-5">
    <div class="welcome-texts text-center mt-5 mb-4 pt-3">
        <h5 class="h5 text-uppercase my-blue-text-color">Finding your perfect vehicle has never been easier</h5>
        <h3 class="h3 my-blue-text-color">Welcome to <span class="text-warning fw-bolder">AutoDealership</span></h3>
    </div>
    <div class="container-fluid mt-5">
        <div class="row welcome-sections">
            <div class="col text-center border-2 border-end border-light p-5 me-3">
                <div class="mb-5"><i class="fas fa-tag my-blue-text-color display-3"></i></div>
                <div class="mb-3"><h6 class="text-uppercase h6 fw-bold">WE OFFER GREAT <br /> VEHICLE PRICES</h6></div>
                <div class="mb-3"><p class="fs-6 text-break">We offer used and new cars at great prices. We ensure we have vehicles for every budget. Also we offer lease and financing options at very low rates</p></div>
            </div>
            <div class="col text-center border-2 border-end border-light p-5 me-3">
                <div class="mb-5"><i class="fas fa-car-crash my-blue-text-color display-3"></i></div>
                <div class="mb-3"><h6 class="text-uppercase h6 fw-bold">MULTISTEP SAFETY <br /> VEHICLE INSPECTIONS</h6></div>
                <div class="mb-3"><p class="fs-6 text-break">Every vehicle is inspected using our multistep safety procedure, that way we know the exact condition of every vehicle and is ready to sell. Any damaged vehicles are put in the Salvage category so you won't have to worry about your potential new car having been previously damaged.</p></div>
            </div>
            <div class="col text-center p-5 me-3">
                <div class="mb-5"><i class="fas fa-map-marker-alt my-blue-text-color display-3"></i></div>
                <div class="mb-3"><h6 class="text-uppercase h6 fw-bold">MULTIPLE LOCATIONS <br /> ACROSS EUROPE</h6></div>
                <div class="mb-3"><p class="fs-6 text-break">We have multiple locations across Europe so you can pick up your new car or view the vehicles close to you!</p></div>
            </div>

        </div>
    </div>
</div>

<div id="best-features-div" class="row mb-5">
    <div class="col-1">
        <p style="visibility: hidden">r</p>
    </div>
    <div class="col-4 rounded bg-white m-5 p-5 shadow-lg rounded-4">
        <h3 class="h3 my-blue-text-color fw-bolder text-center mb-5">The stress-free way <br /> to buy a vehicle</h3>
        <div class="row">
            <p class="fw-semibold fs-5 mb-0">
                <i class="fas fa-check fs-5 text-primary pe-3"></i>
                Bring the dealership to your doorstep
            </p>
            <p class="fw-light fs-6 text-muted ms-5">
                Express pickup and delivery options available
            </p>
        </div>
        <div class="row">
            <p class="fw-semibold fs-5 mb-0">
                <i class="fas fa-check fs-5 text-primary pe-3"></i>
                Test Drives available
            </p>
            <p class="fw-light fs-6 text-muted ms-5">
                Schedule multiple test drives for your dream vehicle
            </p>
        </div>
        <div class="row">
            <p class="fw-semibold fs-5 mb-0">
                <i class="fas fa-check fs-5 text-primary pe-3"></i>
                If you don't like it - return it
            </p>
            <p class="fw-light fs-6 text-muted ms-5">
                30-day money back guarantee (up to 1000 km.)
            </p>
        </div>
        <div class="row">
            <p class="fw-semibold fs-5 mb-0">
                <i class="fas fa-check fs-5 text-primary pe-3"></i>
                All major systems are covered
            </p>
            <p class="fw-light fs-6 text-muted ms-5">
                Warranty lasts for 120 days or 5,000 km (whichever comes first)
            </p>
        </div>
        <div class="m-4 text-center">
            <a href="/Home/Inventory" class="p-3 w-100 text-center text-uppercase btn btn-warning my-blue-text-color fw-bold">SHOP ALL CARS</a>
        </div>
    </div>
    <div class="col-3">
        <p style="visibility: hidden">r</p>
    </div>
    <div class="col-2">
        <p style="visibility: hidden">r</p>
    </div>
    <div class="col-2">
        <p style="visibility: hidden">r</p>
    </div>
</div>


<div id="browse-by-brand-div" class="row mb-5 text-center">
    <h2 class="h2 fw-semibold">Browse by Brands</h2>
    <h5 class="h5 text-secondary">We work with the most popular brands</h5>
    <div class="mt-5 row">

        @{
            var brands = ViewData["Brands"] as List<AutoDealership.Models.Brand>;

            foreach (AutoDealership.Models.Brand brand in brands)
            {
                var linkHref = "/Home/Inventory?search=" + brand.Name;
                <div class="col">

                    <a href="@linkHref"><img width="85" src="@brand.LogoURL" /></a>

                </div>

            }
        }
    </div>
</div>

<div id="steps-div" class="row mt-5 mb-5" style="background-image: url(https://www.teahub.io/photos/full/10-104324_fall-mountain-road-wallpaper-hd-nature.jpg);">
    <div id="steps-div-header" class="text-center mt-5 mb-5">
        <h2 class="h2 fw-bolder">How AutoDealership <span class="text-warning" style="-webkit-text-stroke: gray 1px;">Works</span></h2>
    </div>
    <div class="row text-center mb-5">
        <div class="col ms-5">
            <h1 class="display-1 fw-bolder">
                01
                <i class="fas fa-ellipsis-h" style="margin-left: 0.8em;margin-right: -2em;"></i>
            </h1>
            <h5 class="h5 fw-bold">Search our inventory</h5>
            <p class="text-break">
                Firstly, search our wide collection of vehicles and find your perfect vehicle. In our inventory there is a vehicle for every price point and every category.
            </p>

        </div>

        <div class="col ms-5">
            <h1 class="display-1 fw-bolder">
                02
                <i class="fas fa-ellipsis-h" style="margin-left: 0.8em;margin-right: -2em;"></i>
            </h1>
            <h5 class="h5 fw-bold">Choose the vehicle you like</h5>
            <p class="text-break">
                Once you've set your mind on the right vehicle, select it from our inventory and view all of the details about that vehicle
            </p>
        </div>

        <div class="col ms-5">
            <h1 class="display-1 fw-bolder">
                03
                <i class="fas fa-ellipsis-h" style="margin-left: 0.8em;margin-right: -2em;"></i>
            </h1>
            <h5 class="h5 fw-bold">Reserve your vehicle</h5>
            <p class="text-break">
                After you have selected the vehicle that you like, the next step is to either reserve your vehicle for purchase or schedule a test drive
            </p>
        </div>

        <div class="col ms-5">
            <h1 class="display-1 fw-bolder">04</h1>
            <h5 class="h5 fw-bold">Come to the scheduled appointment</h5>
            <p class="text-break">
                The last step is to come to your closest dealership at the scheduled time appointment and purchase the vehicle you have reserved and finally drive it home!
            </p>
        </div>
    </div>
</div>


<div id="trending-searches-prices-div" class="container mb-5">
    <div id="trending-searches-header">
        <h2 class="hr-lines text-uppercase h2 fw-bold"> TRENDING SEARCHES </h2>
    </div>

    <div class="row mb-1">
        <div class="col-2">

        </div>

        <div id="economy-cars-div" class="col-3 me-1 img-panel" style="background-image: url(https://img.autobytel.com/car-reviews/autobytel/131803-10-best-american-economy-cars/2017-Chevrolet-Sonic.jpg)">
            <div>
                <p class="fs-4 text-light p-2">Economy cars under <br /> $4,000</p>
            </div>
        </div>

        <div id="popular-suvs-div" class="col-5 img-panel" style="background-image: url(https://suaveignition.files.wordpress.com/2013/04/mercedes-benz-concept-gla-left-side-view.jpg)">
            <div>
                <p class="fs-4 text-light p-2">Popular SUVs under <br /> $20,000</p>
            </div>
        </div>

        <div class="col-2">

        </div>
    </div>

    <div class="row mb-1">
        <div class="col-2">

        </div>

        <div id="family-vehicles-div" class="col-5 me-1 img-panel" style="background-image: url(http://toyotaofcoolsprings.com/blogs/689/wp-content/uploads/2016/05/2016-Sienna.jpg)">
            <div>
                <p class="fs-4 text-light p-2">Family Vehicles under <br /> $5,000</p>
            </div>
        </div>


        <div id="sporty-vehicles-div" class="col-3 img-panel" style="background-image: url(https://www.motortrend.com/uploads/sites/11/2019/09/2019-Subaru-WRX-STI-S209-on-track.jpg?fit=around%7C875:492)">
            <div>
                <p class="fs-4 text-light p-2">Sporty Vehicles under <br /> $10,000</p>
            </div>
        </div>

        <div class="col-2">

        </div>
    </div>

</div>

<div id="budget-search-tool-div" class="row bg-primary mt-5 mb-5">
    <div class="row text-light">

        <div class="col-2">

        </div>

        <div class="col-5 mt-3 mb-3">
            <div id="budget-search-tool-header">
                <h6 class="h6 fw-lighter fst-italic">Did the trending searches not match your pricing criteria? No problem, use the search tool below to find vehicles by budget</h6>
                <h3 class="h3 fw-bold">Find vehicles by budget</h3>
            </div>

            <div id="budget-search-tool">
                <div class="input-group mb-3 mt-4">
                    <span class="input-group-text bg-warning">$</span>
                    <input id="budget-search-input" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">

                    <select class="form-select me-3 rounded-end" id="budget-search-type">
                        <option selected>Choose criteria...</option>
                        <option value="price">vehicle price</option>
                        <option value="monthly">per month</option>
                    </select>

                    <button type="button" id="budget-search-tool-btn" class="text-center btn btn-warning rounded-pill ms-3 text-light fw-bold ps-4 pe-4">Search</button>

                </div>
            </div>

        </div>

        <div class="col-4">
            <img class="mt-3 ms-5" width="300" src="https://static.wixstatic.com/media/db2fb7_3ad7bc95ecee48b3b7ec1b5cdf0711f4~mv2.png/v1/fill/w_470,h_312,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/SELL%20CAR.png" />
        </div>

        <div class="col-1">

        </div>
    </div>
</div>



<div id="browse-body-style-div" class="row mb-5 mt-3">
    <div class="text-lg-center text-uppercase">
        <p class="h4 text-secondary">BROWSE BY</p>
        <span class="h2 fw-bold text-center" style="border-bottom: solid 0.2em orange; width:auto">body style</span>
        <span style="border-bottom: solid 1px black;"></span>
    </div>
    <div class="container-fluid mt-5 mb-5">
        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-dark" data-bs-ride="false" style="padding-bottom: 5em">
            <div class="carousel-inner text-center" style="max-height: 600px !important">
                <div class="carousel-item active">
                    @{
                        var bodyStyles = Enum.GetValues(typeof(AutoDealership.Models.Types.BodyStyle));
                        <div class="row">
                            @for (int i = 0; i < 4; i++)
                            {
                                var bodyStyle = bodyStyles.GetValue(i);
                                var imgPath = "/Content/Images/BodyStyles/" + bodyStyle + ".svg";
                                var href = "/Home/InventoryByBodyStyle?search=" + bodyStyle.ToString();
                                <div class="col rounded">
                                    <a href="@href" class="text-decoration-none">
                                        <img width="200" src="@imgPath" />
                                        <p>@bodyStyle</p>
                                    </a>
                                </div>
                            }
                        </div>

                    }
                </div>
                <div class="carousel-item">
                    <div class="row">
                        @{
                            for (int i = 2; i < 6; i++)
                            {
                                var bodyStyle = bodyStyles.GetValue(i);
                                var imgPath = "/Content/Images/BodyStyles/" + bodyStyle + ".svg";
                                var href = "/Home/InventoryByBodyStyle?search=" + bodyStyle.ToString();
                                <div class="col rounded">
                                    <a href="@href" class="text-decoration-none">
                                        <img width="200" src="@imgPath" />
                                        <p>@bodyStyle</p>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        @{
                            for (int i = 5; i < 9; i++)
                            {
                                var bodyStyle = bodyStyles.GetValue(i);
                                var imgPath = "/Content/Images/BodyStyles/" + bodyStyle + ".svg";
                                var href = "/Home/InventoryByBodyStyle?search=" + bodyStyle.ToString();
                                <div class="col rounded">
                                    <a href="@href" class="text-decoration-none">
                                        <img width="200" src="@imgPath" />
                                        <p>@bodyStyle</p>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
                <button style="width: 2%" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button style="width: 2%" class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        @*<div class="row text-center justify-content-center d-flex">
                @{
                    foreach (AutoDealership.Models.Types.BodyStyle bodyStyle in Enum.GetValues(typeof(AutoDealership.Models.Types.BodyStyle)))
                    {
                        var imgPath = "/Content/Images/BodyStyles/" + bodyStyle + ".svg";
                        <div class="col rounded">
                            <img src="@imgPath" />
                            <p>@bodyStyle</p>
                        </div>
                    }
                }
            </div>*@
    </div>
</div>


<div id="high-performance-div" class="row mt-5 mb-5">
    <div class="col-1">

    </div>
    <div class="col-4">
        <img width="425" src="~/Content/Images/speed-logo.png" />
    </div>
    <div class="col-7 mt-4 mb-4">
        <div style="background-color: rgba(0, 0, 0, 0.40)" class="p-3 rounded-2">
            <h1 class="display-6 fw-bold text-light text-uppercase">BE SPECIAL. CHOOSE HIGH-PERFORMANCE</h1>
            <p class="fw-semibold fs-5 text-light">Reach New Speeds of Excitement with our high-performance vehicle catalog - SPEED. Accelerate your Thrill and explore our catalog with a hand-picked selection of the most exotic and powerful cars our dealership has to offer</p>
        </div>

        <div>
            <button id="speed-btn" type="button" class="mt-5 p-2 btn btn-lg btn-warning text-danger fw-bold text-uppercase shadow">Ready for adventure?</button>
        </div>
    </div>
</div>

<div id="gallery-div" class="m-5">
    <div class="text-lg-center text-uppercase">
        <span class="h2 fw-bold text-center" style="border-bottom: solid 0.2em orange; width:auto">GALLERY</span>
        <span style="border-bottom: solid 1px black;"></span>
    </div>
</div>

@{ 
    var galleryImages = new List<string>();
    for(int i=1; i <= 10; i++)
    {
        string gImg = "/Content/Images/gallery/" + "gallery (" + i + ").jpg";
        galleryImages.Add(gImg);
    }
}

<!-- Carousel wrapper -->
<div class="row">
    <div id="galleryCarousel" class="carousel slide p-0 mt-5 mb-5 border-top border-bottom border-3 border-warning" data-bs-ride="carousel" style="padding-bottom: 5em">
        <div class="carousel-inner" style="max-height: 650px !important">
            @for (int i = 0; i < 10; i++)
            {
                if (i == 0)
                {
                    <div class="carousel-item active">
                        <img src="@galleryImages[i]" style="object-fit: cover !important; object-position: bottom !important; position: relative; bottom: 300px;" class="d-block w-100" alt="...">
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <img src="@galleryImages[i]" style="object-fit: cover !important; object-position: bottom !important; position: relative; bottom: 200px;" class="d-block w-100" alt="...">
                    </div>
                }

            }
            @*<div class="carousel-item active">
                    <img src="https://s3-prod.autonews.com/s3fs-public/3LamborghiniMiami-MAIN.jpg" style="object-fit: cover !important; object-position: center !important;" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://i.insider.com/5f1b0efcf34d051e1b3f0779?width=700" style="object-fit: cover !important; object-position: center !important;" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="http://cdn-ds.com/media/1159/w_1920/sz_4275638/3.jpg" style="object-fit: cover !important; object-position: center !important;" class="d-block w-100" alt="...">
                </div>*@
        </div>
    </div>
</div>
<!-- Carousel wrapper -->

<div id="bottom-home-page" class="row" style="margin-bottom: -3rem">
    <img class="img-fluid w-100 p-0" src="~/Content/Images/vehicle-collage.png" />
</div>



@*Vehicles Display*@

@*<div class="container">
        @Html.Partial("_Vehicles", ViewData)
    </div>*@

@*Vehicles Display*@

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#featureCarousel').carousel({ interval: false });
            $('#featureCarousel').carousel('pause');
        });

        $(document).ready(function () {
            $("#nav-item-about").removeClass("my-navbar-active");
            $("#nav-item-contact").removeClass("my-navbar-active");
            $("#nav-item-inventory").removeClass("my-navbar-active");
            $("#nav-item-home").addClass("my-navbar-active");

            $("#search-vehicles-btn").click(function (e) {
                e.preventDefault();
                window.location.href = "@Url.Action("Inventory", "Home")" + "?search=" + $("#search-vehicles").val();
            });

            $("#search-vehicles-div").keypress(function (event) {
                var id = event.which;
                if (id == 13) {
                    $('#search-vehicles-btn').trigger('click');
                }
            });

            $("#economy-cars-div").click(function (e) {
                e.preventDefault();
                window.location.href = "@Url.Action("InventoryByPrice", "Home")" + "?price=" + 4000 + "&category=economy";
            });

            $("#popular-suvs-div").click(function (e) {
                e.preventDefault();
                window.location.href = "@Url.Action("InventoryByPrice", "Home")" + "?price=" + 20000 + "&category=suvs";
            });

            $("#family-vehicles-div").click(function (e) {
                e.preventDefault();
                window.location.href = "@Url.Action("InventoryByPrice", "Home")" + "?price=" + 5000 + "&category=family";
            });


            $("#sporty-vehicles-div").click(function (e) {
                e.preventDefault();
                window.location.href = "@Url.Action("InventoryByPrice", "Home")" + "?price=" + 10000 + "&category=sporty";
            });

            $("#budget-search-tool-btn").click(function (e) {
                e.preventDefault();
                window.location.href = "@Url.Action("InventoryByPrice", "Home")" + "?price=" + $("#budget-search-input").val() + "&category=" + $("#budget-search-type").val().toLowerCase();
            });

            $("#speed-btn").click(function (e) {
                e.preventDefault();
                window.location.href = "@Url.Action("SpeedInventory", "Home")";
            });


        });
    </script>
}

