<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AutoDealership</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
</head>
<body style="padding-top: 0">
    @*OLD NAVBAR*@

    <!--<nav class="navbar navbar-inverse navbar-fixed-top my-navbar">
        <div class="container">
            <div class="navbar-header">-->
    @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>*@
    <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("AutoDealership", "Index", "Home", new { area = "" }, new { @class = "navbar-brand text-light" })
            </div>
            <div class="navbar-collapse">
                <ul class="me-auto navbar-nav my-navbar-text mb-2 mb-lg-0">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { id = "nav-home-link" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { id = "nav-about-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { id = "nav-contact-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>-->

    <nav class="navbar navbar-expand-lg bg-light my-navbar flex-column align-items-end">

        <div style="width: 75%; height: 3.5em; margin-top: -1em;" class="float-end bg-white d-block mb-2 my-blue-text-color fw-semibold">
            <div id="corner-triangle"></div>
            <div class="d-inline-flex position-relative align-items-center w-75 justify-content-around ms-4" style="top: -1em;">
                <div class="d-inline">
                    <i class="far fa-envelope pe-2"></i>
                    <a href="mailto:info@autodealership.com" class="text-decoration-none my-blue-text-color">info@autodealership.com</a>
                </div>
                <span>|</span>
                <div class="d-inline">
                    <i class="far fa-clock pe-2"></i>
                    Monday to Friday: 8:00 to 17:00
                </div>
                <span>|</span>
                <div class="d-inline">
                    <i class="far fa-map-marker-alt pe-2"></i>
                    Skopje, Macedonia
                </div>
            </div>

        </div>
        <div class="container">
            @*<a class="navbar-brand" href="#">Navbar</a>*@
            @*@Html.ActionLink("AutoDealership", "Index", "Home", new { area = "" }, new { @class = "navbar-brand text-light" })*@
            <a href="/Home/Index" class="text-decoration-none navbar-brand text-light me-5"><img width="150" style="margin-bottom: -1em; margin-left: 4em;margin-top:-2em" src="~/Content/Images/new-logo-white.png" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 my-navbar-text align-items-end">
                    @*<li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>*@
                    <li id="nav-item-home" class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li id="nav-item-inventory" class="nav-item">@Html.ActionLink("Inventory", "Inventory", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li id="nav-item-about" class="nav-item">@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li id="nav-item-contact" class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                @*<form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>*@
                <div class="d-flex">
                    @Html.Partial("_LoginPartial")
                </div>

            </div>
        </div>
    </nav>

    <div class="container-fluid" style="min-height: 100vh">
        @RenderBody()

        @*OLD FOOTER*@

        @*<hr />*@
        @if (ViewBag.ActiveNav != null && ViewBag.ActiveNav.Equals("ManageIndex"))
        {
            @:<footer class="my-blue-background-color row text-light" style="position: relative; bottom: 0;">
        }
        else
        {
            @:<footer class="my-blue-background-color row mt-5 text-light" style="position: relative; bottom: 0;">
        }
            <div class="container mt-3">
                <div class="row text-center justify-content-center">
                    <div>
                        <img width="150" src="~/Content/Images/new-logo-white.png" />
                    </div>
                    <div class="row row-cols-auto justify-content-center">
                        <div class="col">
                            <i class="fab fa-facebook-square text-light fs-3"></i>
                        </div>
                        <div class="col">
                            <i class="fab fa-twitter-square fs-3"></i>
                        </div>
                        <div class="col">
                            <i class="fab fa-instagram-square fs-3"></i>
                        </div>
                        <div class="col">
                            <i class="fab fa-youtube-square fs-3"></i>
                        </div>
                        <div class="col">
                            <i class="fab fa-linkedin fs-3"></i>
                        </div>
                    </div>
                </div>
                <div class="row container gap-5 m-5">
                    <div class="col">
                        <div class="pb-3">
                            <h5 class="h5 fw-bold pb-2">About Us</h5>
                            <p style="color:lightgray">AutoDealership is an online website for easy vehicle shopping</p>
                        </div>
                        <div>
                            <div>
                                <h5 class="h5 fw-bold pb-2">Contact Info</h5>
                                <p style="color:lightgray"><i class="far fa-map-marker-alt"></i> Skopje, Macedonia</p>
                                <p style="color:lightgray"><i class="far fa-envelope"></i> support@autodealership.com</p>
                                <p style="color:lightgray"><i class="fal fa-user-headset"></i> +389 2 1234567</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="pb-3 row">
                            <h5 class="h5 fw-bold pb-2">Customer Links</h5>
                            <div class="col">
                                <ul style="list-style: none">
                                    <li><a href="/Home/Inventory" class="text-decoration-none" style="color:lightgray"><i class="far fa-chevron-right pe-2"></i>Inventory</a></li>
                                    <li><a href="/Home/Contact" class="text-decoration-none" style="color:lightgray"><i class="far fa-chevron-right pe-2"> </i>Contact</a></li>
                                    <li><a href="/Home/About" class="text-decoration-none" style="color:lightgray"><i class="far fa-chevron-right pe-2"> </i>About</a></li>
                                    <li><a href="/Account/Login" class="text-decoration-none" style="color:lightgray"><i class="far fa-chevron-right pe-2"> </i>Login</a></li>
                                    <li><a href="/Account/Register" class="text-decoration-none" style="color:lightgray"><i class="far fa-chevron-right pe-2"> </i>Register</a></li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul style="list-style: none">
                                    <li><a href="#search-vehicles" class="text-decoration-none" style="color:lightgray"><i class="far fa-chevron-right pe-2"></i>Search for Vehicles</a></li>
                                    <li><a href="#browse-by-brand-div" class="text-decoration-none" style="color:lightgray"><i class="far fa-chevron-right pe-2"> </i>Browse by Brand</a></li>
                                    <li><a href="#browse-body-style-div" class="text-decoration-none" style="color:lightgray"><i class="far fa-chevron-right pe-2"> </i>BodyStyles Available</a></li>
                                    <li><a href="#trending-searches-prices-div" class="text-decoration-none" style="color:lightgray"><i class="far fa-chevron-right pe-2"> </i>Trending Searches</a></li>
                                    <li><a href="#budget-search-tool-div" class="text-decoration-none" style="color:lightgray"><i class="far fa-chevron-right pe-2"> </i>Budget Search Tool</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="pb-3">
                            <h5 class="h5 fw-bold pb-2">Subscribe to our Newsletter</h5>
                            <p style="color:lightgray">Get our weekly newsletter for latest car news, exclusive offers and deals and more!</p>
                        </div>
                        <div>
                            <input type="email" class="form-control rounded-0 mb-3" placeholder="Your Email*" />
                            <button class="btn btn-warning text-light fw-bold p-2">SUBSCRIBE</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <p class="text-center">Copyright &copy; @DateTime.Now.Year - AutoDealership. All rights reserved.</p>
            </div>
        </footer>

        @*OLD FOOTER*@

        @*<footer class="container-fluid my-blue-background-color row row-cols-5 border-top mt-5 p-0 w-100" style="max-height: 15em; width: 100%; bottom: 0">

            <div class="container row w-100">

                <div class="col">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div>
            </div>
        </footer>*@


    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
