@model AutoDealership.Models.IndexViewModel

<div class="container">
    <h4>Dashboard</h4>
    <hr />
    @if (User.IsInRole("Administrator"))
    {
        <div class="row">
            <div class="col">
                <div>
                    @Html.ActionLink("List of users", "AllUsers", "Account", new { area = "" }, new { @class = "my-blue-background-color text-white btn-lg btn p-5 rounded-1 m-3 dashboard-panel" })
                    @*<button class="btn btn-block btn-outline-dark">List of users</button>*@
                </div>
            </div>

            <div class="col">
                <div>
                    @Html.ActionLink("List of Vehicles","Index","Vehicle", new { area = "" }, new { @class = "my-blue-background-color text-white btn-lg btn p-5 rounded-1 m-3 dashboard-panel" })
                    @*<button class="btn btn-block btn-outline-info">List of Vehicles</button>*@
                </div>
            </div>

            <div class="col">
                <div>
                    @Html.ActionLink("List of Reservations / Test Drives", "VehicleReservations", "Vehicle", new { area = "" }, new { @class = "my-blue-background-color text-white btn-lg btn p-5 rounded-1 m-3 dashboard-panel" })
                    @*<button class="btn btn-block btn-outline-info">List of Reservations / Test Drives</button>*@
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col">
                <div>
                    @Html.ActionLink("List of roles","Roles","Account", new { area = "" }, new { @class = "my-blue-background-color text-white btn-lg btn p-5 rounded-1 m-3 dashboard-panel" })
                </div>
            </div>

            <div class="col">
                <div>
                    @Html.ActionLink("List a new vehicle", "Create", "Vehicle", new { area = "" }, new { @class = "my-blue-background-color text-white btn-lg btn p-5 rounded-1 m-3 dashboard-panel" })
                </div>
            </div>

            <div class="col">
                <div>
                    @Html.ActionLink("List of brands", "Brands", "Vehicle", new { area = "" }, new { @class = "my-blue-background-color text-white btn-lg btn p-5 rounded-1 m-3 dashboard-panel" })
                </div>
            </div>
        </div>
    }
    @if (User.Identity.IsAuthenticated) 
    { 
<div class="row">
    <div class="col">
        @Html.ActionLink("My reservations", "MyReservations", "Vehicle", new { area = "" }, new { @class = "my-blue-background-color text-white btn-lg btn p-5 rounded-1 m-3 dashboard-panel" })
    </div>
    <div class="col">
        @Html.ActionLink("Last viewed listings", "MyViewedVehicles", "Vehicle", new { area = "" }, new { @class = "my-blue-background-color text-white btn-lg btn p-5 rounded-1 m-3 dashboard-panel" })
    </div>
</div>
    }
</div>