@model AutoDealership.Models.InventoryViewModel
@using AutoDealership.Models
@{
    int i = 0;
}
<div class="row row-cols-4">
    @foreach (var vehicle in Model.Inventory)
    {
        var brands = ViewData["Brands"] as List<Brand>;
        var brand = brands.Find(b => b.Id == vehicle.BrandId);
        <div class="col" style="padding-bottom: 2em">
            <div class="card" style="width: 18rem;">
                <img src="@Url.Content(vehicle.CoverImageURL)" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">@vehicle.Year @brand.Name @vehicle.Model</h5>
                    
                    <div class="mt-5">
                        <div class="d-inline-block w-75">
                            <p class="card-text text-wrap d-inline-block">@vehicle.Description</p>
                        </div>
                        <a href="/Vehicle/Details/@vehicle.Id" class="btn btn-primary float-end">View</a>
                    </div>

                </div>
                <div class="card-footer d-flex justify-content-between">
                    <span><i class="far fa-calendar-alt"></i> @vehicle.Year</span>
                    <span><i class="fa fa-grip-lines-vertical"></i></span>
                    <span><i class="fas fa-tachometer-alt"></i> @vehicle.Mileage km</span>
                    <span><i class="fa fa-grip-lines-vertical"></i></span>
                    <span><i class="fas fa-gas-pump"></i> @vehicle.FuelType.ToString()</span>
                </div>
                <div class="card-footer text-center fw-semibold fs-5">@vehicle.Price.ToString("c")</div>
            </div>
        </div>

        i++;
    }
</div>
