@model IEnumerable<AutoDealership.Models.Brand>

@{ ViewBag.Title = "Brands";
    ViewBag.ActiveNav = "All brands"; }
<div class="row mb-5">
    <div class="text-center" id="about-header">
        <div class="p-5">
            <h2 class="h2 text-white fw-bold">@ViewBag.ActiveNav</h2>
            <h5 class="h5 text-white">Admin Dashboard > @ViewBag.ActiveNav</h5>
        </div>
    </div>
</div>

@*<h2 class="display-6 text-center mt-3">Brands</h2>*@


@Html.ActionLink("Create New", "CreateBrand", null, new { @class = "btn btn-warning shadow m-lg-4" })

<table id="brands-table" class="table table-hover text-center shadow-sm mt-4">
    <thead class="text-light border-bottom-0 border-light" style="background-color: rgba(2,92,173,1);">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogoURL)
            </th>
            <th>
                Number of vehicles in brand
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        <img width="50px" src="@Html.DisplayFor(modelItem => item.LogoURL)" alt="Brand Logo" />
    </td>
    <td>
        @item.Vehicles.Count
    </td>
    <td>
        @Html.ActionLink("View", "EditBrand", new { id = item.Id }, new { @class = "btn my-blue-background-color text-white" }) |
        <button data-brand-num-veh="@item.Vehicles.Count" data-brand-id="@item.Id" class="btn btn-danger delete-brand-btn shadow-lg">Delete</button>
    </td>
</tr>}
    </tbody>


</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#brands-table").DataTable();

            $("#brands-table .delete-brand-btn").click(function () {
                var btn = $(this);
                var id = btn.attr("data-brand-id");
                var numVeh = btn.attr("data-brand-num-veh");
                if (numVeh > 0) {
                    bootbox.alert({
                        message: "You cannot delete this brand since it contains vehicles. Please delete the vehicles first!",
                        buttons: {
                            ok: {
                                label: 'OK',
                                className: 'btn-danger'
                            }
                        }
                    });
                }
                else {
                    bootbox.confirm({
                        message: "Are you sure you want to delete this brand?",
                        buttons: {
                            confirm: {
                                label: 'Yes',
                                className: 'btn-danger'
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-dark'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                $.ajax({
                                    url: '/api/Brands/' + id,
                                    type: 'DELETE',
                                    success: function () {
                                        btn.parent().parent().remove();
                                    },
                                    error: function (err) {
                                        console.log(err);
                                    }
                                });
                            }
                        }
                    });
                }
            });
        });
    </script>
}
