@model AutoDealership.Models.MyReservationViewModel
@{ ViewBag.Title = "My Reservations";
    ViewBag.ActiveNav = "My Reservations"; }
<div class="row mb-5">
    <div class="text-center" id="about-header">
        <div class="p-5">
            <h2 class="h2 text-white fw-bold">@ViewBag.ActiveNav</h2>
            <h5 class="h5 text-white">User Dashboard > @ViewBag.ActiveNav</h5>
        </div>
    </div>
</div>

<div class="container">
    @*<h2 class="display-3">My Reservations</h2>*@

    @if (Model.ReservedVehicle == null)
    {
<h4>You haven't reserved any vehicles</h4> }
else
{
<div class="container row justify-content-between gap-5">
    @{ var url = "/Vehicle/Details/" + Model.ReservedVehicle.Id; }
    <div class="col">
        <a href=@url><img src="@Model.ReservedVehicle.CoverImageURL" class="img-thumbnail" /></a>

    </div>
    <div class="col">
        <h4 class="h4 fw-bold pb-3">@Model.ReservedVehicle.Model</h4>
        @{ 
            int maxLength = Model.ReservedVehicle.Description.Length > 50 ? 50 : Model.ReservedVehicle.Description.Length;
        }
        <p class="text-truncate">@Model.ReservedVehicle.Description.Substring(0, maxLength) ...</p>
        <div class="row fw-semibold">
            <div class="col">
                <p>Year: @Model.ReservedVehicle.Year</p>
                <p>Fuel: @Model.ReservedVehicle.FuelType</p>
                <p>Horsepower: @Model.ReservedVehicle.Horsepower</p>
                <p>Color: @Model.ReservedVehicle.Color</p>
            </div>
            <div class="col-auto">
                <p>Mileage: @Model.ReservedVehicle.Mileage</p>
                <p>Engine: @Model.ReservedVehicle.Engine</p>
                <p>Fuel Efficiency: @Model.ReservedVehicle.FuelEfficiency l/100km</p>
                <p>Condition: @Model.ReservedVehicle.VehicleStatus</p>
            </div>
        </div>
    </div>
    <div class="col d-flex flex-column justify-content-between flex-wrap align-items-center">
        <button class="btn my-orange-background-color text-light position-relative top-0" style="height: max-content; width: max-content;">@Model.ReservedVehicle.Price $</button>
        <button data-reservation-email="@Model.User.Email" data-reservation-id="@Model.ReservationDetails.Id" class="cancel-reservation-btn btn btn-danger" style="height: max-content; width: max-content;">Cancel Reservation</button>
        <a href="/Vehicle/Details/@Model.ReservedVehicle.Id" class="btn my-blue-background-color text-light position-relative bottom-0 text-decoration-none" style="height: max-content; width: max-content;">View listing</a>
    </div>
</div>}

    <hr />
    <div class="container row justify-content-between gap-5">
        @if (Model.TestDriveVehicles.Count == 0)
        {
<h4>You haven't scheduled any test drives</h4> }
                    else
                    {
                        int i = 0;
                        foreach (var veh in Model.TestDriveVehicles)
                        {

                            var url = "/Vehicle/Details/" + veh.Id;

<div class="col">
    <a href=@url><img src="@veh.CoverImageURL" class="img-thumbnail" /></a>

</div>
<div class="col">
    @{ int maxLength = veh.Description.Length > 50 ? 50 : veh.Description.Length; }
    <h4 class="h4 fw-bold pb-3">@veh.Model</h4>
    <p class="text-truncate">@veh.Description.Substring(0, maxLength) ...</p>
    <div class="row fw-semibold">
        <div class="col">
            <p>Year: @veh.Year</p>
            <p>Fuel: @veh.FuelType</p>
            <p>Horsepower: @veh.Horsepower</p>
            <p>Color: @veh.Color</p>
        </div>
        <div class="col-auto">
            <p>Mileage: @veh.Mileage</p>
            <p>Engine: @veh.Engine</p>
            <p>Fuel Efficiency: @veh.FuelEfficiency l/100km</p>
            <p>Condition: @veh.VehicleStatus</p>
        </div>
    </div>
</div>
                                        <div class="col d-flex flex-column justify-content-between flex-wrap align-items-center">
                                            <button class="btn my-orange-background-color text-light position-relative top-0" style="height: max-content; width: max-content;">@veh.Price $</button>
                                            <button data-reservation-email="@Model.User.Email" data-reservation-id="@Model.TestDrivesDetails.ElementAt(i).Id" class="cancel-reservation-btn btn btn-danger" style="height: max-content; width: max-content;">Cancel Reservation</button>
                                            <a href="/Vehicle/Details/@veh.Id" class="btn my-blue-background-color text-light position-relative bottom-0 text-decoration-none" style="height: max-content; width: max-content;">View listing</a>
                                        </div>
                i++;
            }
        }
    </div>
</div>



@section Scripts {
    <script>$(document).ready(function () {

            $(".cancel-reservation-btn").click(function () {
                var btn = $(this);
                var id = btn.attr("data-reservation-id");
                var email = btn.attr("data-reservation-email");
                bootbox.confirm({
                    message: "Are you sure you want to cancel this reservation?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-dark'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: '/Vehicle/CancelReservation?id=' + id + '&userEmail=' + email,
                                type: 'DELETE',
                                success: function () {
                                    btn.parent().parent().remove();
                                },
                                error: function (err) {
                                    console.log(err);
                                }
                            });
                        }
                    }
                });
            });
        });</script>
}
