@model IEnumerable<AutoDealership.Models.VehicleReservation>
@using AutoDealership.Models
@{ ViewBag.Title = "Vehicle Reservations";
    ViewBag.ActiveNav = "All vehicle reservations"; }
<div class="row mb-5">
    <div class="text-center" id="about-header">
        <div class="p-5">
            <h2 class="h2 text-white fw-bold">@ViewBag.ActiveNav</h2>
            <h5 class="h5 text-white">Admin Dashboard > @ViewBag.ActiveNav</h5>
        </div>
    </div>
</div>

@*<h2>Vehicle Reservations</h2>*@

<table class="table table-hover text-center shadow-sm mt-4" id="vehicle-reservations-table">
    <thead class="text-light border-bottom-0 border-light" style="background-color: rgba(2,92,173,1);">
        <tr>
            <th>
                Reserved by
            </th>
            <th>
                Vehicle
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsTestDrive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservedUntil)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
<tr>
    <td>
        @{ var users = ViewBag.Users as List<ApplicationUser>;
                            var vehicles = ViewBag.Vehicles as List<Vehicle>;
                            var user = users.Find(u => u.Id.Equals(item.UserId));
                            var vehicle = vehicles.Find(v => v.Id == item.VehicleId); }
        @user.FullName
    </td>
    <td>
        @vehicle.Model
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsTestDrive)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ReservedUntil)
    </td>
    <td>
        @Html.ActionLink("View Vehicle", "Details", new { id = item.VehicleId }, new { @class = "btn btn-primary" }) |
        @*@Html.ActionLink("Cancel Reservation", "CancelReservation","Vehicle", new { id=item.Id }, new { @class = "btn btn-danger" })*@
        <button data-reservation-id="@item.Id" class="cancel-reservation-btn btn btn-danger">Cancel Reservation</button>
    </td>
</tr>}
    </tbody>


</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#vehicle-reservations-table").DataTable();

            $("#vehicle-reservations-table .cancel-reservation-btn").click(function () {
                var btn = $(this);
                var id = btn.attr("data-reservation-id");
                bootbox.confirm({
                    message: "Are you sure you want to cancel this reservation?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-dark'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: '/Vehicle/CancelReservation/' + id,
                                type: 'DELETE',
                                success: function () {
                                    btn.parent().parent().remove();
                                },
                                error: function (err) {
                                    console.log(err);
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}