@model IEnumerable<AutoDealership.Models.ApplicationUser>

@{
    ViewBag.Title = "AllUsers";
    ViewBag.ActiveNav = "List of all users";
}
<div class="row mb-5">
    <div class="text-center" id="about-header">
        <div class="p-5">
            <h2 class="h2 text-white fw-bold">@ViewBag.ActiveNav</h2>
            <h5 class="h5 text-white">Admin Dashboard > @ViewBag.ActiveNav</h5>
        </div>
    </div>
</div>
@*<h2 class="mt-lg-5 mb-lg-5 pb-3 pt-3 display-6 text-center text-bg-warning w-50 rounded m-auto">List of all all users</h2>*@


<table class="table table-hover text-center shadow-sm mt-4" id="users-table">
    <thead class="text-light border-bottom-0 border-light" style="background-color: rgba(2,92,173,1);">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.EmailConfirmed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PasswordHash)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SecurityStamp)
                </th>*@
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LockoutEnabled)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccessFailedCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>*@
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.EmailConfirmed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PasswordHash)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SecurityStamp)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LockoutEnabled)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccessFailedCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>*@
            <td>
                @{
                    var role = item.Roles.Count > 0 ? item.Roles.ElementAt(item.Roles.Count - 1).RoleId : "Customer";
                }
                <button type="button" class="btn btn-primary update-role-btn" data-bs-target="#update-role-modal" data-bs-toggle="modal" data-user-email="@item.Email" data-user-role="@role">
                    Update Role
                </button>
            </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="update-role-modal" tabindex="-1" aria-labelledby="update-role-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="update-role-modalLabel">Select user role</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                @*<button type="submit" class="btn btn-primary submit-role-btn">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#users-table").DataTable();

            $("#users-table .update-role-btn").click(function () {
                var btn = $(this);
                var userEmail = btn.attr("data-user-email");
                var userRole = btn.attr("data-user-role");
                $("#update-role-modal").modal('show');
                $.ajax({
                    url: "/Account/GetRoleToUser",
                    type: "GET",
                    data: { "userEmail": userEmail, "userRole": userRole},
                    success: function (data) {
                        $("#update-role-modal .modal-body").html(data);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });

            });

        });
    </script>

}