@model AutoDealership.Models.RolesViewModel

@{ ViewBag.Title = "Roles";
    ViewBag.ActiveNav = "All roles"; }
<div class="row mb-5">
    <div class="text-center" id="about-header">
        <div class="p-5">
            <h2 class="h2 text-white fw-bold">@ViewBag.ActiveNav</h2>
            <h5 class="h5 text-white">Admin Dashboard > @ViewBag.ActiveNav</h5>
        </div>
    </div>
</div>
@*<h2 class="display-2 text-center">Roles</h2>*@

<div class="container">
    <table id="roles-table" class="table-bordered table">
        <thead>
            <tr>
                <td><strong>Role</strong></td>
                <td><strong>Number of users in role</strong></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.Roles)
            {
<tr>
    <td>@role.Name</td>
    <td>@role.Users.Count</td>
    <td><button class="delete-role-btn btn btn-danger" data-role-name="@role.Name">Delete role</button></td>
</tr>            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-center">
                    <button class="btn btn-secondary" data-bs-target="#add-role-modal" data-bs-toggle="modal" id="add-role-btn">Add a new role</button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="add-role-modal" tabindex="-1" aria-labelledby="add-role-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-role-modalLabel">Add a new role</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                @using (Html.BeginForm("Roles", "Account"))
                {
    @Html.HiddenFor(model => model.Roles)
                    
                    @Html.TextBoxFor(model => model.NewRole, new { @class = "form-control w-75 ms-auto me-auto", @placeholder = "Enter the name of the new role" })
                                    <br />
                                                    <button type="submit" class="btn btn-dark mt-4">Save Changes</button>}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                @*<button type="submit" class="btn btn-primary submit-role-btn">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#roles-table .add-role-btn").click(function () {
                $("#add-role-modal").modal('show');
            });

            $("#roles-table .delete-role-btn").click(function () {
                var table = $("#roles-table");
                var btn = $(this);
                var roleName = btn.attr("data-role-name");
                bootbox.confirm({
                    message: "Are you sure you want to delete this role?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-dark'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: '/Account/DeleteRole',
                                type: 'POST',
                                data: { 'role': roleName },
                                success: function (res) {
                                    btn.parent().parent().remove();
                                },
                                error: function (err) {
                                    console.log(err);
                                }
                            });
                        }
                    }
                });
            });

        });
    </script>

}